<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
<%= javascript_include_tag 'gmaps.js' %>

<div class="col-sm-8 offset-sm-2">
  <div class="text-center">
    <h2>Welcome to your Dashboard!</h2>
    <%= link_to "Create a new listing!", listings_new_path, class: "btn btn-primary mt-2" %>
  </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide mt-3" data-ride="carousel" data-interval="5000">
  <ol class="carousel-indicators">
    <% for i in 0..(@all_listings.count - 1) do %>
      <% if i == 0 %>
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <% else %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>"></li>
      <% end %>
    <% end %>
  </ol>

  <div class="carousel-inner form">
    <% for i in 0..(@all_listings.count - 1) do %>
      <% if i == 0 %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
        <div class="d-block w-100 p-5" style="background: #999999;">
          <div class="row carousel-form form">
            <div class="col-sm-6 m-0 p-3">
              <span><strong>Name: </strong> <%= @all_listings[i].name %></span>
              <br/>
              <span><strong>Lister: </strong> <%= @all_listings[i].user.email %> </span>
              <br/>
              <span><strong>Address: </strong> <%= @all_listings[i].address %></span>
              <br/>
              <span><strong>Cost/month: $</strong><%= @all_listings[i].cost %></span>
              <br/>
              <span><strong>Start Date: </strong> <%= @all_listings[i].start_date.strftime("%m-%d-%Y") %></span>
              <br/>
              <span><strong>End Date: </strong> <%= @all_listings[i].end_date.strftime("%m-%d-%Y") %></span>
              <br/>
              <span><strong>UW commute time (<%= @all_listings[i].commute_mode %>): </strong> <%= @all_listings[i].uw_commute %></span>
              <br/>
              <span><strong>Laurier commute time (<%= @all_listings[i].commute_mode %>): </strong> <%= @all_listings[i].laurier_commute %></span>
              <br/>
              <span><strong>Description: </strong> <%= @all_listings[i].description %></span>
              <br/>
            </div>
            <div class="col-sm-6 m-0 p-2">
              <div id="map-<%= i %>" class="form" style="height: 350px"></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="margin-right: 100px;"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="margin-left: 100px;"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<script>
  $( document ).ready(function() {
      <% for i in 0..(@all_listings.count - 1) do %>
        showMap("<%= @all_listings[i].address %>", "map-<%= i %>");
      <% end %>
      jQuery.fn.carousel.Constructor.TRANSITION_DURATION = 2000  // 2 seconds
  });
</script>
