<script>
  function initMap() {
    showMap("<%= @listing.address %>");
  }
</script>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key+'&callback=initMap' %>
<%= javascript_include_tag 'gmaps.js' %>

<% if @user == @listing.user %>
  <%= link_to "Delete this listing!", listings_destroy_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
<% elsif !(@saved) %>
  <%= link_to "Save this listing!", listings_save_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
  <%= render 'shared/apply_listing_button', show: @applied %>
<% else %>
  <%= link_to "Unsave listing", listings_save_remove_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
  <%= render 'shared/apply_listing_button', show: @applied %>
<% end %>
<h2>Listing Name: <%= @listing.name %></h2>
<h5>Address: <%= @listing.address %></h5>
<h5>Available from: <%= @listing.start_date.strftime("%m, %d, %Y") %> to <%= @listing.end_date.strftime("%m, %d, %Y") %></h5>
<h5>Commute time to UW(<%= @listing.commute_mode %>): <%= @listing.uw_commute %></h5>
<h5>Commute time to Laurier(<%= @listing.commute_mode %>): <%= @listing.laurier_commute %></h5>
<h5>Ammenities: <%= @listing.ammenities %> mins</h5>
<h5>Description: <%= @listing.description %> mins</h5>
<div id="map" style="height: 350px" class="mt-3 mb-3"></div>

<h2>Comments</h2>
<hr/>

<% @comments.each do |comment| %>
  <h5><%=comment.email%> said:</h5>
  <p><%= comment.body%></p>

  <div class="row">
    <div class="col-sm-10">
      <% if @user == comment.user %>
        <%= link_to "delete", comments_delete_path(comment_id: comment.id), method: :delete, data: { confrim: 'Are you sure?' }, class: "mr-3" %>
      <% end %>

      <%= link_to "reply", user_root_path, id: "create_reply_#{comment.id}" %>
    </div>
    <div class="col-sm-2 text-right">
      <span><%= time_display(comment.created_at) %></span>
    </div>
  </div>

  <%= render 'shared/replies', comment: comment %>
  <%= render 'shared/reply_form', comment_id: comment.id %>
  <hr/>
<% end %>

<%= form_for :comment, url: comments_create_path(listing_id: @listing.id) do |f| %>
  <%= f.hidden_field :email, value: @user.email %>
  <%= f.hidden_field :listing_id, value: @listing.id %>

  <div class="form-group">
    <%= f.label "Comment" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit "post comment!", class: "btn btn-primary" %>
<% end %>
