<script>
  function initMap() {
    showMap("<%= @listing.address %>");
  }
</script>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key+'&callback=initMap' %>
<%= javascript_include_tag 'gmaps.js' %>

<% if @user == @listing.user %>
  <%= link_to "Delete this listing!", listings_destroy_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
<% elsif !(@saved) %>
  <%= link_to "Save this listing!", listings_save_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
  <%= render 'shared/apply_listing_button', show: @applied %>
<% else %>
  <%= link_to "Unsave listing", listings_save_remove_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
  <%= render 'shared/apply_listing_button', show: @applied %>
<% end %>
<h2>Listing Name: <%= @listing.name %></h2>
<h5>Address: <%= @listing.address %></h5>
<h5>Available from: <%= @listing.start_date.strftime("%m, %d, %Y") %> to <%= @listing.end_date.strftime("%m, %d, %Y") %></h5>
<h5>Commute time to UW(<%= @listing.commute_mode %>): <%= @listing.uw_commute %></h5>
<h5>Commute time to Laurier(<%= @listing.commute_mode %>): <%= @listing.laurier_commute %></h5>
<h5>Ammenities: <%= @listing.ammenities %> mins</h5>
<h5>Description: <%= @listing.description %> mins</h5>
<div id="map" style="height: 350px"></div>
