<script>
  function initMap() {
    showMap("<%= @listing.address %>", "map");
  }
</script>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key+'&callback=initMap' %>
<%= javascript_include_tag 'gmaps.js' %>

<% if @user == @listing.user %>
  <%= link_to "Delete this listing!", listings_destroy_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
<% elsif !(@saved) %>
  <%= link_to "Save this listing!", listings_save_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
  <%= render 'shared/apply_listing_button', show: @applied %>
<% else %>
  <%= link_to "Unsave listing", listings_save_remove_path(listing_id: @listing.id), method: :post, class: "btn btn-primary mb-3"%>
  <%= render 'shared/apply_listing_button', show: @applied %>
<% end %>
<h2>Listing Name: <span class="notbold"><%= @listing.name %></span></h2>
<hr class="event-divider"/>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td><h5>Address:</h5></td>
      <td><h5><span class="notbold"><%= @listing.address %></span></h5></td>
    </tr>
    <tr>
      <td><h5>Available from:</h5></td>
      <td><h5><span class="notbold"><%= @listing.start_date.strftime("%B, %d, %Y") %> &nbsp to &nbsp <%= @listing.end_date.strftime("%B, %d, %Y") %></span></h5></td>
    </tr>
    <tr>
      <td><h5>Commute time (UW <%= @listing.commute_mode %>):</h5></td>
      <td><h5><span class="notbold"><%= @listing.uw_commute %></span></h5></td>
    </tr>
    <tr>
      <td><h5>Commute time (Laurier <%= @listing.commute_mode %>):</h5></td>
      <td><h5><span class="notbold"><%= @listing.laurier_commute %></span></h5></td>
    </tr>
    <tr>
      <td><h5>Ammenities:</h5></td>
      <td><h5><span class="notbold"><%= @listing.ammenities %></span></h5></td>
    </tr>
    <tr>
      <td><h5>Description:</h5></td>
      <td><h5><span class="notbold"><%= @listing.description %></span></h5></td>
    </tr>
  </tbody>
</table>

<div id="map" style="height: 350px" class="mt-3 mb-3 form"></div>

<h2>Comments</h2>
<hr class="event-divider"/>

<% @comments.each do |comment| %>
  <h5><%=comment.email%> said:</h5>
  <p><%= comment.body%></p>

  <div class="row">
    <div class="col-sm-10">
      <% if @user == comment.user %>
        <%= link_to "delete", comments_delete_path(comment_id: comment.id), method: :delete, data: { confrim: 'Are you sure?' }, class: "mr-3" %>
      <% end %>

      <%= link_to "reply", user_root_path, id: "create_reply_#{comment.id}" %>
    </div>
    <div class="col-sm-2 text-right">
      <span><%= time_display(comment.created_at) %></span>
    </div>
  </div>

  <%= render 'shared/replies', comment: comment %>
  <%= render 'shared/reply_form', comment_id: comment.id %>
  <hr/>
<% end %>

<%= form_for :comment, url: comments_create_path(listing_id: @listing.id) do |f| %>
  <%= f.hidden_field :email, value: @user.email %>
  <%= f.hidden_field :listing_id, value: @listing.id %>

  <div class="form-group">
    <%= f.label "Comment" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit "post comment!", class: "btn btn-primary" %>
<% end %>
