<!DOCTYPE html>
<html>
  <head>
    <meta name="turbolinks-cache-control" content="no-preview">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <title>Sublet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-sm-10 offset-sm-1 mt-5 mb-5">
      <%= yield %>
    </div>
  </body>
</html>
